*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Poppins,Roboto,"Sofia", Arial, sans-serif;
  color:seashell;
}

body{
  max-height:800px;
  background:linear-gradient(135deg,slategray,lightblue,lavenderblush,lightsteelblue,slategray);
  overflow:hidden;
}

#content{
  border:1px solid rgba(205,205,205,0.5);
  max-width:512px;
  height:672px;
  margin:64px auto;
  box-sizing:border-box;
  padding:16px;
  display:flex;
  flex-direction:column;
  border-radius:16px;
  background:rgba(200,200,200,0.245);
  box-shadow:2px 2px 10px 4px rgba(250,250,250,0.25);
  backdrop-filter:contrast(100%);
  backdrop-filter:sepia(25%) grayscale(25%);
}

#effect{
  z-index:-4;
  width:512px;
  height:672px;
  position:absolute;
  box-shadow:
    inset 16px 0 60px 30px rgba(238, 238, 238, 0.75),
    inset 128px 0 100px 60px rgba(255, 0, 255, 0.75),
    inset -64px 0 140px 90px rgba(0, 255, 255, 0.75);
  margin-left:calc(50% - 256px);
  border-radius:2%;
}

#search{
  display:flex;
  justify-content:space-around;
}

#searchBox{
  width:90%;
  height:64px;
  padding:0px 15px;
  outline:none;
  border:none;
  border-radius:16px;
  background-color:rgba(250,250,250,0.75);
  box-shadow:-2px -2px 4px 2px rgba(105,105,105,0.5);
  font-size:20px;
  /*z-index:6;*/
}

#weatherInfo{
  margin-top:16px;
}

#temperatureDetails{
  text-align:center;
  font-size:32px;
  margin-top:10%;
  margin-left:8px;
}

#temperatureDetails h3, h4{
  display:inline;
}

#dateToday{font-size:24px;margin-bottom:10px;}

#otherDetails{
  display:flex;
  flex-direction:column;
  justify-content:space-evenly;
  text-align:center;
  font-size:16px;
}

#weatherTitle{
  display:flex;
  justify-content:left;
  align-items:center;
  margin-bottom:16px;
  width:384px;
  justify-content:space-between;
  margin:0 auto;
  margin-bottom:16px;
  height:64px;
}

hr{
  opacity:0.75;
  margin:8px;
}

#temperature, #city, #dateToday{
  display:flex;
  justify-content:center;
  align-items:center;
}

#weatherIcon{
  width:128px;
}

#temperatureIcon, #cityIcon, #dateIcon{
  width:40px;
  position:relative;
  left:-8px;
}

#otherDetails img{
  width:56px;
}

#weatherTitleIcon2{
  width:64px;
  position:relative;
  right:48px;
  visibility:hidden;
}

#weatherTitleIcon1{
  width:64px;
  border-radius:50%;
  position:relative;
  left:48px;
  transform:scale(95%);
}

#autocomplete{
  position:absolute;
  top:224px;
  left:inherit;
  margin-left:24px;
  margin-top:-68px;
  width:428px;
  height:352px;
  padding:16px;
  font-size:16px;
  border-radius:4px 4px 16px 16px;
  background-color:rgba(250,250,250,0.5);
  z-index:5;
  backdrop-filter:blur(15px);
  box-shadow:-2px 3px 4px 1px rgba(125,125,125,0.25), 2px 2px 2px 2px rgba(105,105,105,0.25);
  visibility:hidden;
}

#autocomplete p{
  margin-bottom:16px;
  cursor:pointer;
}

#searchIcon{
  position:absolute;
  width:32px;
  margin-left:384px;
  margin-top:16px;
  border-radius:50%;
}

#weatherToday{
  display:flex;
  flex-direction:row;
  justify-content:space-around;
}

#airDetails{
  filter:hue-rotate(180deg);
}